/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: auto;
    margin-right: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: black;
}

nav ul li a i {
    margin-right: 5px;
}

/* Estilos para a página de login */
.login-container {
    width: 100%;
    max-width: 400px; /* Reduz a largura máxima do contêiner de login */
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button,
.btn-cadastrar {
    width: 100%;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    display: block; /* Garante que os botões ocupem a largura total do contêiner */
    margin-top: 10px; /* Adiciona margem superior entre os botões */
}

button:hover,
.btn-cadastrar:hover {
    background-color: #0056b3;
}

.btn-cadastrar {
    background-color: #28a745; /* Cor verde para o botão cadastrar */
}

.btn-cadastrar:hover {
    background-color: #218838; /* Cor verde escura quando hover */
}


.button-container {
    display: flex;
    margin-top: 10px; /* Adiciona margem superior ao contêiner de botões */
}

.button-container button,
.button-container .btn-cadastrar {
    flex: 1;
    margin-right: 10px;
}


@GetMapping("/interna-adm")
public ModelAndView acessoPageInternaAdm(RedirectAttributes attributes) {
    ModelAndView mv = new ModelAndView("adm/interna-adm");
    if (acessoInternoAdm) {
        System.out.println("Acesso Permitido");
    } else {
        String mensagem = "Acesso não Permitido - faça Login";
        System.out.println(mensagem);
        mv.setViewName("redirect:/login-adm");
        attributes.addFlashAttribute("msg", mensagem);
        attributes.addFlashAttribute("classe", "vermelho");
    }

    return mv;
}
