/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #007bff; /* Cor azul */
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
    float: left;
    font-size: 24px;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #ffc107; /* Cor amarela */
}

/* Ícones */
nav ul li a i {
    margin-right: 5px;
}
